@font-face {
  font-family: "FuturaCustom";
  src: url("./assets/fonts/futurak.ttf") format("truetype");
}

.futura-font {
  font-family: "FuturaCustom", sans-serif;
  letter-spacing: 1px;
}

.custom-navbar {
  background-color: #000;
  padding: 20px 0;
  z-index: 1000;
}

.navbar-nav .nav-link {
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ed1c24 !important;
}

/* Mobile Styling Only */
@media (max-width: 991px) {
  .navbar-collapse {
    background-color: #000;
    padding: 30px 0;
  }

  .navbar-nav {
    gap: 20px;
  }

  .navbar-collapse .btn {
    width: auto;
    min-width: 220px;
    align-self: center;
  }
}

.hero-slide {
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
